{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User info{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul>
      <li>ID: {{ user.id }}</li>
      <li>Username: {{ user.username }}</li>
      <li>Hashed password: {{ user.hashed_password }}</li>
  </ul>
{% endblock %}
