{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create department{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name() }}
        <input type="submit" value="Create">
    </form>
{% endblock %}
