{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create employee{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.surname.label }} {{ form.surname() }}
        <label for="departments-input">Department</label>
        <input type="text" id="departments-input" list="departments-datalist" name="department_name"
               placeholder="Enter department name..." required/>
        <datalist id="departments-datalist"></datalist>
        <input type="submit" value="Create">
    </form>
    <script>
        window.onload = function () {
            const departmentInputElement = document.getElementById('departments-input');
            const departmentDatalistElement = document.getElementById('departments-datalist');

            departmentInputElement.addEventListener('keyup', async function (e) {
                const rawResponse = await fetch('{{ url_for('company_management.search_department_by_name') }}', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({"name": departmentInputElement.value})
                })
                const content = await rawResponse.json();
                departmentDatalistElement.innerHTML = "";
                content.forEach((item) => {
                    const option = document.createElement('option');
                    option.value = item.name;
                    departmentDatalistElement.appendChild(option);
                })
            });
        };
    </script>
{% endblock %}
