{% extends 'base.html' %}
{% from 'macros.html' import render_pagination with context %}

{% block header %}
    <h1>{% block title %}Departments list{% endblock %}</h1>
{% endblock %}

{% block content %}
    <a href="{{ url_for('company_management.create_department_page') }}">Create new department</a>
    <ul>
        {% for dep in departments_pagination.items %}
            <li>{{ dep.name }}</li>
        {% else %}
            <li>No departments</li>
        {% endfor %}
    </ul>
    {{ render_pagination(pagination=departments_pagination, endpoint='company_management.departments_list') }}
{% endblock %}
